@import "tailwindcss";


@layer base {
    .item-nav {
        color: #4a5568;
        text-transform: uppercase;
        font-weight: bold;

        &:hover {
            color: #0390b7;
        }

        transition: color 0.3s ease-in-out;
    }

    .item-mobile-nav {
        color: white;
        font-size: 1.5rem;
        text-transform: uppercase;
        font-weight: bold;

        &:hover {
            color: rgb(115, 153, 249);
        }

        transition: color 0.3s ease-in-out;

    }
}


html.dark {
    background-color: #373737;
    color: #fff;

    & .nav-links a {
        color: #fff;
    }

    & .nav-links a:hover {
        border-bottom: 1px solid #fff;
    }

    & footer a {
        color: #fff;
        border: #fff solid 2px;
    }

    & footer a:hover {
        background-color: #fff;
        color: #000;
    }

    & .horizontal,
    .logo {
        color: #fff;
    }

    & .line {
        background-color: #fff;
    }

}

footer {
    display: flex;
    gap: 0.5rem;
    margin-top: 2rem;
    align-items: center;
    justify-content: center;
    width: 100%;

    & a {
        font-size: 1.4rem;
        width: 2.5rem;
        height: 2.5rem;
        color: #000;
        text-align: center;
        border: 2px solid #373737;
        border-radius: 50%;
    }

    & a svg {
        display: inline-block;
        vertical-align: middle;
    }

    & a:hover {
        background-color: #373737;
        color: white;
    }
}

.horizontal {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;

}

#themeName {
    font-size: 0.5rem;
    font-weight: bold;
    text-transform: uppercase;
}