---
import Social from "./Social.astro";
---

<footer>
  <p>Follow me:</p>
  <Social platform="twitter" username="i2bgilberto" />
  <Social platform="github" username="i2bgilberto" />
  <Social platform="youtube" username="/channel/UC69KYwEDIiZnN1P01SzBHoA" />
</footer>
