---
import Hamburger from "./Hamburger.astro";
---

<Hamburger />
<div class="nav-links">
  <a href="/">Home</a>
  <a href="http://i2b.dev">My Profile</a>
  <a href="https://i2b.dev/about">About me</a>
  <a href="/tags">Topics</a>
</div>
