---
const { platform, username } = Astro.props;
import { Icon } from "astro-icon/components";
---

<a href=`http://${platform}.com/${username}`><Icon name=`${platform}` /></a>

<style>
  a {
    font-size: 1.4rem;
    width: 2.5rem;
    height: 2.5rem;
    text-align: center;
    border: 2px solid #373737;
    border-radius: 50%;
  }

  a svg {
    display: inline-block;
    vertical-align: middle;
  }

  a:hover {
    background-color: #373737;
    color: white;
  }
</style>
